<footer class="container">
    <div class="footer--menu">
        <div class="footer--menu--links">
            <h3>LINKS</h3>
            <ul>
                <li><a href="/" title="Todos os animais">Todos animais</a></li>
                <li><a href="/dogs" title="Cachorros">Cachorros</a></li>
                <li><a href="/cats" title="Gatos">Gatos</a></li>
                <li><a href="/fishes" title="Peixes">Peixes</a></li>
            </ul>
        </div>
        <div>
            <h3>SIGA-NOS</h3>
            <div class="footer--socials">
                <ul>
                    <li>
                        <a href="/"><img src="images/iconWhatsapp.svg" alt="Whatsapp" class="whatsapp"/></a>
                    </li>
                    <li>
                        <a href="/"><img src="images/iconInstagram.svg" alt="Instagram" class="instagram"/></a>
                    </li>
                    <li>
                        <a href="/"><img src="images/iconTwitter.svg" alt="Twitter" class="twitter"/></a>
                    </li>
                    <li>
                        <a href="/"><img src="images/iconMessenger.svg" alt="Messenger" class="messenger"/></a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <h3>NÃO PERCA NADA</h3>
            <div class="footer--newsletter">
                Inscreva-se para receber atualizações por e-mail
                <input type="text" placeholder="Digite seu e-mail" class="footer--newsletter--input" />
            </div>
        </div>
    </div>
    <span>© Todos os direitos reservados</span>
</footer>
</body>
</html>